<%- include("header.html") %>
    <div class="bg-secondary" style="padding: 1rem 3rem">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="margin-bottom: 1rem; color: #fff">Let us know about you</h1>
            </div>
        </div>
        <div class="row" style="align-items: center;">
            <form action="/" method="post" style=" display: inline-block;">

                <!-- Personal details start -->

                <h2 style="color: #fff; letter-spacing: 2px;"><strong>Personal Details</strong></h2>
                <div class="row bg-light p-5 rounded text-center">
                    <p class="text-danger" style="font-weight: bold">* All fields in this section are mandatory</p>
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text col-2 rounded" style="margin-right: 1rem;">First and last
                                name</span>
                            <input type="text" aria-label="First name" class="form-control rounded"
                                style="margin-right: 1rem;" name="firstName" required
                                placeholder="add middle name if any">
                            <input type="text" aria-label="Last name" class="form-control rounded" name="lastName"
                                required placeholder="Last name">
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Email Address</span>
                            <input type="email" aria-label="Email" class="form-control rounded"
                                style="margin-right: 1rem;" name="email" required placeholder="Johndoe@example.com">
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Contact No</span>
                            <input type="number" aria-label="Contact" class="form-control form"
                                style="margin-right: 1rem;" name="contactNo" required placeholder="Add STD Code">
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Age</span>
                            <input type="number" aria-label="age" class="form-control rounded" style="margin-right: 1rem;"
                                required placeholder="Your age" name="age">
                            <select name="gender" id="" style="margin-right: 1rem;" class="form-select rounded">
                                <option value="Male">Male</option>
                                <option value="Femlae">Female</option>
                            </select>
                        </div>
                        <!-- <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Skills</span>
                            <input type="text" aria-label="Skills" class="form-control rounded"
                                style="margin-right: 1rem;" required placeholder="Th ings you're good at" name="skills">
                        </div> -->
                    </div>
                </div>

                <br>
                <!-- Qualifications -->

                <h2 style="color: #fff; letter-spacing: 2px;"><strong>Qualifications</strong></h2>
                <div class="row bg-light p-5 rounded text-center" id="qualificationsContainer">
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <span class="input-group-text rounded">Matriculation</span>
                            <p class="text-danger" style="margin-right: 1rem;">*</p>  
                            <input type="text" aria-label="schoolName" class="form-control rounded"
                                 name="schoolNameTenth" required placeholder="School Name" style="margin-right: 1rem;">    
                            <input type="text" aria-label=""
                                class="form-control rounded" name="boardTenth" required placeholder="Board or University" style="margin-right: 1rem;"> 
                            <input type="number" aria-label="" class="form-control rounded" name="marksInTenth"
                                required placeholder="Marks in %">
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded">Intermediate</span>
                            <p class="text-danger" style="margin-right: 1rem;">*</p> 
                            <input type="text" aria-label="schoolName" class="form-control rounded"
                                style="margin-right: 1rem;" name="schoolNameTwelfth" required placeholder="School Name">
                            <input type="text" aria-label="board" style="margin-right: 1rem;"
                                class="form-control rounded" name="boardTwelfth" required
                                placeholder="Board or University">
                            <input type="number" aria-label="marks in twelfth" class="form-control rounded"
                                name="marksInTwelfth" required placeholder="Marks in %">
                        </div>
                        <div class="input-group mt-3" id="qualificationsDiv">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">College</span>
                            <input type="text" aria-label="university Name" class="form-control rounded"
                                style="margin-right: 1rem;" name="universityName1" required
                                placeholder="University Name">
                            <input type="text" aria-label="board" style="margin-right: 1rem;"
                                class="form-control rounded" name="degreeName1" required placeholder="Degree/Course">
                            <input type="text" aria-label="marks in end sem" class="form-control rounded"
                                name="cgpa1" required placeholder="CGPA (most recent sem)"
                                style="margin-right: 1rem;">
                            <input type="text" aria-label="College Name" class="form-control rounded"
                                name="collegeName1" required placeholder="Name of college"
                                style="margin-right: 1rem;">
                        </div>
                    </div>
                    <div class="col-12 text-center pt-4" id="addBtnContainer">
                        <button class="btn btn-primary col-sm-2 col-lg-2 col-12" id="addMoreQualifications"> Add More</button>
                    </div>
                </div>


                <br>

                <!-- Experience -->

                 <h2 style="color: #fff; letter-spacing: 2px;"><strong>Experience</strong></h2>
                <div class="row bg-light p-5 rounded text-center" id="expContainerId">
                    <h6 class="mb-3 text-danger">Add only maximum of 3 past work experiences/ Leave blank if fresher  </h6>
                    <div id="expNodeId" class="mb-3">
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Company Name</span>
                            <input type="text" aria-label="" class="form-control rounded"
                                style="margin-right: 1rem;" name="companyName1" 
                                placeholder="Google / Facebook / TCS">
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem">Position</span>
                            <input type="text" name="post1" id="" style="margin-right: 1rem;"
                                placeholder="Web Developer" class="form-control rounded">
                            <span class="input-group-text rounded" style="margin-right: 1rem;">Year</span>
                            <input type="text" name="yearsWorked1" class="form-control rounded" placeholder="2016-19">
                        </div>

                        <div class="input-group mt-3">
                            <span class="input-group-text rounded" style="margin-right: 1rem">Job Description</span>
                            <input type="text" name="jobDesc1" placeholder="My job there was to Troubleshoot and debug issues in web solutions and provide timely and effective solutions" id="" class="form-control rounded">
                        </div>
                    </div>

                        <!-- Add more btn -->
                        <div class="col-12 text-center pt-4" id="expBeforeDivId">
                            <button class="btn btn-primary col-sm-2 col-lg-2 col-12" id="addMoreExpBtn"> Add More</button>
                        </div>
                    </div>
                </div>

                <br>

                <h2 style="color: #fff; letter-spacing: 2px;"><strong>Professional Summary</strong></h2>
                <div class="row bg-light p-5 rounded text-center">
                    <div class="col-12">
                        <div class="input-group mt-3">
                            <span class="input-group-text">About You</span>
                            <input type="text" name="aboutYou" placeholder="hardworking, punctual, reliable, individual, quality, work, time-management, continuous-improvement" class="form-control">
                        </div>
                    </div>
                </div>


                <br>

                <h2 style="color: #fff; letter-spacing: 2px;"><strong>Skills</strong></h2>
                <div class="row bg-light p-5 rounded text-center">
                    <h6 class="mb-3 text-danger">Write skills separated by comma </h6>
                    <div class="col-12 input-group">
                        <span class="input-group-text">Skills</span>
                        <input type="text" name="skills" id="skills" class="form-control" placeholder="security, problem-solving, communication.">
                    </div>
                    </div>
                </div>

                <div class="input-group mt-3">
                    <div class="row m-auto">
                        <div class="col-6 text-center">
                            <button type="submit" class="btn btn-success" style="font-weight: 500; padding: 0.4rem 1rem">Submit </button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="reset" class="btn btn-dark">Reset</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

<!-- Script -->
<script>
    expToken = 1, qualificationsToken = 1
    // Getting add more btn
    const addMoreQualificationsbtn = document.getElementById('addMoreQualifications');
    const addMoreExpBtn = document.getElementById('addMoreExpBtn');

    // Function to add a Node
    function addNode(containerId, beforeDivId, nodeId, token){
        const container = document.getElementById(containerId);
        const beforeDiv = document.getElementById(beforeDivId);
        const node = document.querySelector(`#${nodeId}`);
        const clonedSection = node.cloneNode(true);

        // giving name to every input element
        const input = clonedSection.querySelectorAll('input');
        console.log(input);
        input.forEach(input=>{
            var name = input.getAttribute('name');
            input.value = ''
            name = name.slice(0, name.length - 1)
            name = name + token
            input.removeAttribute('name')
            input.setAttribute("name", name)
        })

        // appending it to the QualificationsContainer
        container.insertBefore(clonedSection, beforeDiv);
    }

    // function to prevent default behavior of btn
    addMoreQualificationsbtn.addEventListener('click', (event)=>{
        event.preventDefault();
    })
    addMoreExpBtn.addEventListener('click', (event)=>{
        event.preventDefault();
    })

    // Function to add event listener on click
    addMoreQualificationsbtn.addEventListener('click', function(){
        qualificationsToken = qualificationsToken + 1
        if(qualificationsToken > 3){
            alert(`can't add more than 3`)
        }else{
            addNode('qualificationsContainer', 'addBtnContainer', 'qualificationsDiv', qualificationsToken);
        }
    })
    addMoreExpBtn.addEventListener('click', function(){
        expToken = expToken + 1   
        if(expToken > 3) {
            alert(`can't add more than 3`)
        }else{
            addNode('expContainerId', 'expBeforeDivId', 'expNodeId', expToken)
        }
    })


    
</script>

    <%- include("footer.html") %>